
*{
    font-family: quattrocento;
}

/* creating a parallax effect */
.parallax{
    background-image: url(https://wallpaperscraft.com/image/keyboard_laptop_macro_73432_1920x1080.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    scroll-behavior: smooth;
}
.parallax h1{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    width: 100%;
    height: 100%;
    text-align: center;
}
body{
    background: url(https://www.wallpapersbrowse.com/images/yb/yb5h3cp.jpg);
    background-size: cover;
    margin-top: -40px;
    margin-left: 0 auto;
    margin-right: 0 auto;

}
.navbar{
    display: flex;
    flex-direction: column;
    float: right;
    box-sizing: border-box;
    height: 15%;
}
a{
    border: none;
    color: black;
    font-size: 20px;
    text-decoration: none;
}
/* aligning the divs to float around the page */
.main{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
    ". . title . ."
    ". box1 box1 . ."
    ". . . box2 box2"
    ". box3 box3 . .";
    margin: 40px;
    padding: 10px;
}
.title{
    font-size: 25px;
    margin: 20px;
    grid-area: title;
}
/* making all divs circles */
.what, .who, .goal{
    border: 2px solid lightseagreen;
    background-color: rgb(87, 197, 192);
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-weight: 500;
    box-shadow: 6px 3px 3px rgb(212, 212, 252);
    margin: 15px;
}
.who{
    grid-area: box1;
    transition: transform .5s;
    /* speed of transition */
}
.who p{
    padding: 30px;
}
.what{
    grid-area: box2;
    transition: transform .5s;
}
h4{
    margin-top: 20px;
}
.goal{
    grid-area: box3;
    transition: transform .5s;
}
.goal p{
    margin: 25px;
    padding: 10px;
}
/* enlarges bubble on hover */
.who:hover, .what:hover, .goal:hover{
    transform: scale(1.5);
    background-color: darkslategray;
}
footer{
    display: flex;
    justify-content: baseline;
    flex-direction: column;
    float: right;
    
}

/* Tablet Query */
@media (max-width: 768px){
    .parallax{ 
        max-width: 100%;    
    }
    .parallax h1{
        font-size: 40px;
    }
    .main{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .who:hover, .what:hover, .goal:hover{
        transform: scale(1);
    }
    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    a{
        margin: 5px;
    }
    body{
        background-size: cover;
    }
    footer{
        display: flex;
        flex-direction: row;
    }
}