.main{
    display:    grid;
        grid-template-columns: repeat(4, 1fr);
        grid-row-gap: 10px;
        grid-column-gap: 15px;
    width: calc(100% -10px);
        height: 100%;
        grid-auto-rows: minmax(150px, auto);
        grid-template-areas:  
        "box1 box1 box2 box2"
        "box3 box3 box4 box5"
        "box3 box3 box6 box6"
        "box7 box8 box9 box10";
    margin: 25px;
    padding: 10px;
}
h1{
    display: flex;
    justify-content: center;
}
.box{
    border: 1px solid purple;
    grid-template-columns: repeat(auto-fill);
}
.box:nth-child(even){
    background-color: lightblue;
}
.box:nth-child(odd){
    background-color: lightcoral;
}
.box1{
    grid-area: box1;
}
.box2{
    grid-area: box2;
}
.box3{
    grid-area: box3;
}
.box4{
    grid-area: box4;
}
.box5{
    grid-area: box5;
}
.box6{
    grid-area: box6;
}
.box7{
    grid-area: box7;
}
.box8{
    grid-area: box8;
}
.box9{
    grid-area: box9;
}
.box10{
    grid-area: box10;
}
img{
    margin: 5px;
}
p{
    padding:5px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    clear: both;
}
.box1 p{
    flex-wrap: wrap;
}
i:hover{
    color: white;
    cursor: pointer;
}
/* Tablet Query */
/* @media(max-width: 768px){
    box{
    display: block;

    }
} */