img{
    width:100%;
    display:flex;
    justify-content: flex-start;
    margin: 25px;
    padding: 10px;
}
body{
    display: flex;
    font-family: 'Montserrat',sans-serif;
    padding: 10px;
    margin: 20px;
    border-top: 1px solid black;
    border-right: 1px solid black;
}
.tech{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.nav{
    width: 30%;
    margin: 40px;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-weight: bold;

}
h1{
    font-size: 30px;
    padding: 5px;
}
ul{
    list-style: none;
}
footer{
    display: none;
}
p{
    font-size: 20px;
    padding: 5px;
}
article:nth-of-type(2){
    margin-left: 25px;
}
button{
    border: none;
    background-color: gray;
    font-size: 15px;
    color: white;
    width: 160px;
    padding: 12px 30px;
    display: flex;
    align-items: flex-end;
}
h2{
    font-size: 25px;
    border-bottom: 1px solid black;
    float: center;
}
article li{
    padding:5px;
}



/* desktop query */
@media(min-width:992px){
footer{
    display: none;
}
}

/* tablet query */
@media(max-width:768px){
    body{
        border-bottom: 1px solid black;
    }
    img{
        padding: inherit;
        margin: auto;
    }
    article:nth-of-type(2){
    margin: 0 auto;
    }
    .nav{
        display: none;
    }
}
