header{
    background-color: aqua;
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: center;

}
main{
    background-color:black;
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: center;
    }

section{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.container{
    color: white;
    display: flex;
    justify-content: center;
    align-content: space-around;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title h3{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
section:nth-child(1){
    border-top:30px solid red;
}















/* @media (max-width: 576px) */